html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: "Whitenice";
  src: url("./fonts/Whitenice.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;     

}

@font-face {
  font-family: 'Comfortaa';
  src: url('./fonts/Comfortaa-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;

}

@font-face {
  font-family: 'Comfortaa';
  src: url('./fonts/Comfortaa-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Comfortaa';
  src: url('./fonts/Comfortaa-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Amorlate';
  src: url('./fonts/Amorlate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  

}
a, a:link, a:visited, a:hover, a:active {
    color: #F6F7F0;
    text-decoration: none;
}

.fullHeading {
    font-family: 'Amorlate';

    font-size: 50px;
    color: #F6F7F0;
    display: flex;
    justify-self: right;


}
.fullHeading a{
    margin-left: 50px;

}
.fullHeading a:hover{
    color: #F0CCCC;

}
.sectionHeading {
    font-family: 'Amorlate';
    font-size: 44px;
    justify-self: center;
    color: #2D151B;
}

.accentThankYou {
    font-family: 'Whitenice';
    font-size: 50px;
    color: #2D151B;
}
.accentSignature {
    font-family: 'Whitenice';
    font-size: 88px;
    color: #2D151B;
}
.bodyText {
    font-family: 'Comfortaa';
    font-size: 22px;
    color: #2D151B;
    padding:25px;
    z-index: 3;

}
.bodyTextSmall {
    font-family: 'Comfortaa';
    font-size: 36px;
    color: #2D151B;
}



.headerbar {
    display: grid;

    padding:18px;
    align-items: center;
    background-color: #FC065E;
    
}

body {
  --s: 80px; /* the size */
  --c: #EA89A6;
  
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#DDBA60 68% 70%,#0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
    var(--c);
}

.content{
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: #F0CCCC;
    position: relative;
    width: 70vw;
    align-self: center;
    justify-self: center;
    justify-content: center;
    padding: 35px;
    z-index: 4;
}

.contentoverlap{
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: #F0CCCC;
    width: 70vw;
    align-self: center;
    justify-self: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 120px;
    padding-left: 35px;
        padding-right: 35px;
    z-index: 3;
    position: relative;
}
#cat {
    position: absolute;
    margin-bottom: 25px;
    top: 110px;
    left: -50px;

}
#soundwave{
    position: absolute;
    right: 180px;
    top: -20px;
}
#soundwave2{
    position: absolute;
    left: 140px;
    bottom: -20px;
}
#cat2 {
    position: absolute;
    margin-bottom: 25px;
    top: -150px;
    left: 400px;

}
#star{
    position: absolute;
    left: 490px;
    top: 0px;
    z-index: 0;

}
audio{
    position: absolute;
    bottom: 30px;
}
#logo {
    padding: 30px;
    position: absolute;
    background-color: #F6F7F0;
    left: 15px;
    object-fit: cover;
    overflow: visible;
    top: 15px;
    border-radius: 100px;
}

.contentoverlap #Contact{
    width: 80%;
    justify-self: right;
    padding: 35px;
    background-color: #ffffff80;

}
.audiocont {
    display: flex;

    background-color: #F0CCCC;
    position: relative;
    width: 70vw;
    align-self: center;
    justify-self: center;
    justify-content: center;
    padding: 35px;
    z-index: 3;
    padding-bottom: 80px;
}

.hcg-slider {
    width: auto;
    height: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.hcg-slide-container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.hcg-slider-track {
    height: 100%;
}
.hcg-slides {
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #a0a0a0;
    box-sizing: border-box;
}
.hcg-slides img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100px;
    display: inline-block;
}
.hcg-slide-text {
    color: #000000;
    font-size: 20px;
    padding: 3px 10px;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    left: 50%;
    text-align: center;
    text-shadow: 0 0 2px #ffffff7d;
    background-color: rgb(255 255 255 / 50%);
    display: inline-block;
    transform: translate(-50%, -5px);
    text-transform: capitalize;
    font-weight: bold;
}
#hcg-slide-prev, #hcg-slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    text-decoration: none;
    text-shadow: 1px 1px 5px #686868;
    z-index: 2;
}
#hcg-slide-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#hcg-slide-prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}
#hcg-slide-prev:hover, #hcg-slide-next:hover {
    background-color: #000c;
}
.hcg-slide-dot-control {
    margin-top: 10px;
    text-align: center;
}
.hcg-slide-dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.hcg-slide-dot.dot-active {
    background-color: #717171;
}
.hcg-slide-number {
    color: #000000;
    font-size: 15px;
    padding: 3px 10px;
    position: absolute;
    border-radius: 5px;
    top: 5px;
    left: 5px;
    background-color: rgb(255 255 255 / 50%);
    text-shadow: 0 0 2px #ffffff7d;
    font-weight: bold;
}
/************CSS Animation***********/

.animated {
    animation-name: fadeIn;
    animation-duration: 1s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    animation-name: fadeIn;
}

////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////

.form {
  font  : 1.6rem sans-serif;
  padding : 0.5em;
  margin  : 0;
  background : #222;
}

form {
  position : relative;
  width  : 740px;
  height : 498px;
  margin : 0 auto;
  padding: 1em;
  box-sizing: border-box;
  background : #FFF url(./images/background.jpg);

  /* we create our grid */
  display  : grid;
  gap : 20px;
  grid-template-columns : repeat(2, 1fr);
  grid-template-rows    : 10em 1em 1em 1em;
}

h1 {
  font : 2em "Whitenice", monospace;
  align-self : end;
}

#message {
   grid-row: 1 / 5;
}

#from, #reply {
   display: flex;
}

label {
  font : 1.5em "Whitenice", sans-serif;
}

input,
textarea {
  font    : 1.4em/1.5em "handwriting", cursive, sans-serif;
  border  : none;
  padding : 0 10px;
  margin  : 0;
  width   : 80%;
  background   : rgba(0,0,0,0.05);
}

input:focus,
textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
}

textarea {
  display : block;

  padding : 10px;
  margin  : 10px 0 0 -10px;
  width   : 100%;
  height  : 90%;

  border-right: 1px solid;

  /* resize  : none; */
  overflow: auto;
}

button {
  padding      : 5px;
  font         : bold .6em sans-serif;
  border       : 2px solid #333;
  border-radius: 5px;
  background   : rgb(180, 158, 158);
  cursor       : pointer;
  transform    : rotate(-1.5deg);
}

button:after {
  content      : " >>>";
}

button:hover,
button:focus {
  outline     : none;
  background  : #000;
  color       : #FFF;
}

